In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("HotelReviews.csv")
df.head()

,link,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating
0,https://www.tripadvisor.com/Hotel_Review-g6076...,Innside New York NoMad,45,review Yesterday,Kim C,50,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0,0,0,0,0,0
1,https://www.tripadvisor.com/Hotel_Review-g6076...,Innside New York NoMad,45,21-Jun,Peggy M,50,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0,40,0,50,50,0
2,https://www.tripadvisor.com/Hotel_Review-g6076...,Innside New York NoMad,45,4-Mar,Imran,50,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,50,0,50,0,50,0
3,https://www.tripadvisor.com/Hotel_Review-g6076...,Innside New York NoMad,45,2-Mar,Jay B,50,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,50,50,0,0,50,0
4,https://www.tripadvisor.com/Hotel_Review-g6076...,Innside New York NoMad,45,22-Feb,Jeweliana159,50,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,50,0,0,0,50,0

In [3]:
#dropping the review lnk column since we do not require that for analysis
df.drop('link', axis=1, inplace=True)
df.head()
df.dtypes

hotel_name         object
overall_rating      int64
date_of_review     object
user_name          object
review_rating       int64
review_title       object
review_text        object
date_of_stay       object
contributions       int64
helpful_votes       int64
value_rating        int64
rooms_rating        int64
location_rating     int64
clean_rating        int64
service_rating      int64
sleep_rating        int64
dtype: object

In [4]:
#In column date_of_review, replacing certain string values to a date value
#For e.g replaced "review Yesterday" with 22-March (YY/Month)

df['date_of_review'] = df['date_of_review'].replace(['review Yesterday'],'22-Mar')
df['date_of_review'] = df['date_of_review'].replace(['review Today'],'22-Mar')
df

,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating
0,Innside New York NoMad,45,22-Mar,Kim C,50,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0,0,0,0,0,0
1,Innside New York NoMad,45,21-Jun,Peggy M,50,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0,40,0,50,50,0
2,Innside New York NoMad,45,4-Mar,Imran,50,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,50,0,50,0,50,0
3,Innside New York NoMad,45,2-Mar,Jay B,50,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,50,50,0,0,50,0
4,Innside New York NoMad,45,22-Feb,Jeweliana159,50,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,50,0,0,0,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,Hotel Riu Plaza New York Times Square,45,21-May,Trina Samara,50,Great Mother’s Day weekend!,When we arrived at the RIU check in was fast a...,May 2021,25,5,0,0,0,0,0,0
1111,Hotel Riu Plaza New York Times Square,45,21-May,Ana Isabel C,40,In general a good hotel,"we were in June, we were of moon honey and in ...",June 2020,0,5,0,0,0,0,0,0
1112,Hotel Riu Plaza New York Times Square,45,21-Apr,Mindy I,10,DO NOT STAY HERE,"Upon arrival, we weren't greeted just plain ou...",April 2021,4,5,0,0,0,0,0,0
1113,Hotel Riu Plaza New York Times Square,45,21-Apr,Sparrock,50,Excellent experience,Place was clean. Staff were kind and courteou...,April 2021,0,1,0,0,0,0,0,0
1114,Hotel Riu Plaza New York Times Square,45,21-Apr,Veronica T,10,Worst staff that I have experience. Bad service.,Good location and decent room. They claim that...,April 2021,2,6,0,0,0,0,0,0

In [5]:
#reducing ratings by a factor of 10
df['review_rating']=df['review_rating']/10
df['value_rating']=df['value_rating']/10
df['rooms_rating']=df['rooms_rating']/10
df['location_rating']=df['location_rating']/10
df['clean_rating']=df['clean_rating']/10
df['service_rating']=df['service_rating']/10
df['sleep_rating']=df['sleep_rating']/10
df.head()

,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating
0,Innside New York NoMad,45,22-Mar,Kim C,5.0,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,Innside New York NoMad,45,21-Jun,Peggy M,5.0,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0.0,4.0,0.0,5.0,5.0,0.0
2,Innside New York NoMad,45,4-Mar,Imran,5.0,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,5.0,0.0,5.0,0.0,5.0,0.0
3,Innside New York NoMad,45,2-Mar,Jay B,5.0,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,5.0,5.0,0.0,0.0,5.0,0.0
4,Innside New York NoMad,45,22-Feb,Jeweliana159,5.0,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,5.0,0.0,0.0,0.0,5.0,0.0

In [6]:
df.isna().sum()

hotel_name         0
overall_rating     0
date_of_review     0
user_name          0
review_rating      0
review_title       0
review_text        0
date_of_stay       0
contributions      0
helpful_votes      0
value_rating       0
rooms_rating       0
location_rating    0
clean_rating       0
service_rating     0
sleep_rating       0
dtype: int64

In [7]:
#Extracting only the months from date_of_review and date_of_stay

df['month_of_review']= df['date_of_review'].str.split('-',expand=True)[1]
df['month_of_stay']=df['date_of_stay'].str.split(' ',expand=True)[1]
df.head()

,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating,month_of_review,month_of_stay
0,Innside New York NoMad,45,22-Mar,Kim C,5.0,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Mar,March
1,Innside New York NoMad,45,21-Jun,Peggy M,5.0,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0.0,4.0,0.0,5.0,5.0,0.0,Jun,May
2,Innside New York NoMad,45,4-Mar,Imran,5.0,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,5.0,0.0,5.0,0.0,5.0,0.0,Mar,June
3,Innside New York NoMad,45,2-Mar,Jay B,5.0,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,5.0,5.0,0.0,0.0,5.0,0.0,Mar,February
4,Innside New York NoMad,45,22-Feb,Jeweliana159,5.0,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,5.0,0.0,0.0,0.0,5.0,0.0,Feb,February

In [8]:
#Assigning the month_of_review to quarters in a year
#del df['Quarter']
q1=['Jan','Feb','Mar']
q2=['Apr','May','Jun']
q3=['Jul','Aug','Sep']
q4=['Oct','Nov','Dec']
df.loc[df['month_of_review'].str.contains('|'.join(q1)), 'quarter_of_review'] = 'Q1'
df.loc[df['month_of_review'].str.contains('|'.join(q2)), 'quarter_of_review'] = 'Q2'
df.loc[df['month_of_review'].str.contains('|'.join(q3)), 'quarter_of_review'] = 'Q3'
df.loc[df['month_of_review'].str.contains('|'.join(q4)), 'quarter_of_review'] = 'Q4'
df.head()

,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating,month_of_review,month_of_stay,quarter_of_review
0,Innside New York NoMad,45,22-Mar,Kim C,5.0,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Mar,March,Q1
1,Innside New York NoMad,45,21-Jun,Peggy M,5.0,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0.0,4.0,0.0,5.0,5.0,0.0,Jun,May,Q2
2,Innside New York NoMad,45,4-Mar,Imran,5.0,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,5.0,0.0,5.0,0.0,5.0,0.0,Mar,June,Q1
3,Innside New York NoMad,45,2-Mar,Jay B,5.0,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,5.0,5.0,0.0,0.0,5.0,0.0,Mar,February,Q1
4,Innside New York NoMad,45,22-Feb,Jeweliana159,5.0,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,5.0,0.0,0.0,0.0,5.0,0.0,Feb,February,Q1

In [9]:
#Assigning the month_of_stay to quarters in a year
q1=['January','February','March']
q2=['April','May','June']
q3=['July','August','September']
q4=['October','November','December']
df.loc[df['month_of_stay'].str.contains('|'.join(q1)), 'quarter_of_stay'] = 'Q1'
df.loc[df['month_of_stay'].str.contains('|'.join(q2)), 'quarter_of_stay'] = 'Q2'
df.loc[df['month_of_stay'].str.contains('|'.join(q3)), 'quarter_of_stay'] = 'Q3'
df.loc[df['month_of_stay'].str.contains('|'.join(q4)), 'quarter_of_stay'] = 'Q4'
df.head()

,hotel_name,overall_rating,date_of_review,user_name,review_rating,review_title,review_text,date_of_stay,contributions,helpful_votes,value_rating,rooms_rating,location_rating,clean_rating,service_rating,sleep_rating,month_of_review,month_of_stay,quarter_of_review,quarter_of_stay
0,Innside New York NoMad,45,22-Mar,Kim C,5.0,Great hotel!,We stayed in a family loft which is two connec...,March 2022,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Mar,March,Q1,Q1
1,Innside New York NoMad,45,21-Jun,Peggy M,5.0,The Innside Front Desk Staff,I just want to take a moment to say how wonder...,May 2021,8,11,0.0,4.0,0.0,5.0,5.0,0.0,Jun,May,Q2,Q2
2,Innside New York NoMad,45,4-Mar,Imran,5.0,NYC gem,"I go to NYC a lot, and this is hands down the ...",June 2021,2,1,5.0,0.0,5.0,0.0,5.0,0.0,Mar,June,Q1,Q2
3,Innside New York NoMad,45,2-Mar,Jay B,5.0,Great Experience!,"I don't usually write reviews, but because of ...",February 2022,0,1,5.0,5.0,0.0,0.0,5.0,0.0,Mar,February,Q1,Q1
4,Innside New York NoMad,45,22-Feb,Jeweliana159,5.0,"Amazing Hospitality Team - Kudos to Christina,...",I've stayed here on numerous occasions before ...,February 2022,25,4,5.0,0.0,0.0,0.0,5.0,0.0,Feb,February,Q1,Q1

In [10]:
#just converting to CSV
df.to_csv('HotelReview_Clean_v1.1.csv')